In [5]:
import pandas as pd
data=pd.read_csv('retail_sales_dataset.csv')
data.head()

,Transaction ID,Date,Customer ID,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount
0,1,2023-11-24,CUST001,Male,34,Beauty,3,50,150
1,2,2023-02-27,CUST002,Female,26,Clothing,2,500,1000
2,3,2023-01-13,CUST003,Male,50,Electronics,1,30,30
3,4,2023-05-21,CUST004,Male,37,Clothing,1,500,500
4,5,2023-05-06,CUST005,Male,30,Beauty,2,50,100

In [6]:
data.isna().sum()

Transaction ID      0
Date                0
Customer ID         0
Gender              0
Age                 0
Product Category    0
Quantity            0
Price per Unit      0
Total Amount        0
dtype: int64

In [7]:
data.dtypes

Transaction ID       int64
Date                object
Customer ID         object
Gender              object
Age                  int64
Product Category    object
Quantity             int64
Price per Unit       int64
Total Amount         int64
dtype: object

In [9]:
data['Date']=pd.to_datetime(data['Date'])
data.dtypes

Transaction ID               int64
Date                datetime64[ns]
Customer ID                 object
Gender                      object
Age                          int64
Product Category            object
Quantity                     int64
Price per Unit               int64
Total Amount                 int64
dtype: object

In [10]:
data['Date'].dt.year

0      2023
1      2023
2      2023
3      2023
4      2023
       ...
995    2023
996    2023
997    2023
998    2023
999    2023
Name: Date, Length: 1000, dtype: int32

In [11]:
data['Date'].dt.month

0      11
1       2
2       1
3       5
4       5
       ..
995     5
996    11
997    10
998    12
999     4
Name: Date, Length: 1000, dtype: int32

In [12]:
data['Date'].dt.day

0      24
1      27
2      13
3      21
4       6
       ..
995    16
996    17
997    29
998     5
999    12
Name: Date, Length: 1000, dtype: int32

In [13]:
data['Date'].dt.quarter

0      4
1      1
2      1
3      2
4      2
      ..
995    2
996    4
997    4
998    4
999    2
Name: Date, Length: 1000, dtype: int32

In [16]:
weekday=data['Date'].dt.weekday

In [20]:
data['Weekday'] = data['Date'].dt.weekday.apply(lambda x: 1 if x == 0 or x == 6 else 0)
data['Weekday']

0      0
1      1
2      0
3      1
4      0
      ..
995    0
996    0
997    1
998    0
999    0
Name: Weekday, Length: 1000, dtype: int64

In [22]:
data.duplicated().sum()

0

In [ ]:
import matplotlib.pyplot as  plt